<!--CUARTA PARTE, CONSECUENCIAS-->
<div class="container">
<div class="card">
  <div class="card-header">
    <font face="Footlight MT Light,arial">
      <div style="text-align: center;">
        <h1>¿Qué consecuencias tiene la diabetes?</h1>
      </div>
    </font>
  </div>
  <div class="card-body">
    <div style="text-align: justify;">
      <font face="Comic Sans MS,arial">

        <div class="espacio">
          <p> Las consecuencias de la diabetes afectan tanto a la salud como a la calidad de vida de los
            enfermos. Con el tiempo la diabetes puede causar serios daños en el corazón, en los vasos
            sanguíneos, en los ojos, en los riñones y en el sistema nervioso, e incluso se puede llegar
            a perder la vida.</p>
            <ul>
              <li>Los adultos con diabetes, tienen un riesgo 3 veces mayor de infarto de miocardio
                y accidente cerebrovascular.</li>
                <li>La neuropatía de los pies en combinación con la reducción del flujo sanguíneo
                  incrementan el riesgo de úlceras en los pies, infección y amputación en última
                  instancia.</li>
                  <li>La retinopatía diabética es una causa importante de ceguera y es la consecuencia
                    del daño que se va acumulando a lo largo del tiempo de los pequeños vasos
                    sanguíneos de la retina.</li>
                    <li>Es una de las principales causas de insuficiencia renal.</li>
                  </ul>
                  <p>Complicaciones y enfermedades asociadas a la diabetes
                    Ministerio de Salud y Protección Social > Salud > Salud Pública - Ministerio > Prevención enfermedades NO
                    transmisibles > Complicaciones y enfermedades asociadas a la diabetes
          ​Así como es importante conocer cuál es el manejo de la diabetes tipo 1, es fundamental que sepas las
          complicaciones que pueden llegar a presentarse.</p>
          <ol>
            <li>Cetonas:</li>
            <p>
              Cuando los niveles de glucosa en tu sangre se elevan porque no hay la suficiente insulina para que tus células
              puedan aprovecharla, tu cuerpo empieza a utilizar las grasas consumidas para tratar de producir energía. Sin
              embargo este proceso produce desechos perjudiciales para tu salud llamados cetonas.
          </p>
          <p>
            Es importante determinar la presencia de cetonas con tu equipo médico, si tienes glicemias superiores o
            iguales a 250 mg/dl, infecciones como la gripa, o presentas los siguientes síntomas:</p>
            <ul>
              <li>Nauseas o vómitos.</li>
              <li>Dolor en tu estómago.</li>
              <li>Respiración rápida.</li>
              <li>Sequedad en la boca.</li>
              <li>Sensación de malestar.</li>
            </ul>
            <p></p>
            <li>Hipoglicemia:</li>
            <p>
              Se refiere a altos niveles de glucosa en sangre. Por ejemplo, cifra en ayunas mayor de 110 mg/dl. Si la
              hiperglucemia es repetitiva, puede generar complicaciones a largo plazo, como las siguientes:
              Al haber niveles de glucosa altos en sangre, de manera persistente, puede desarrollarse un daño permanente en
              los nervios que te permiten mover, sentir frio, calor o presión. Esto se produce porque la glucosa alta,
              lentamente va lesionando los nervios hasta afectar la función de los mismos.
            </p>
            <ul>
              <li>Impotencia sexual.</li>
              <li>Daño en los nervios ((neuropatía diabética).</li>
              <li>Entumecimiento y temblor de extremidades.</li>
              <li>Diarrea.</li>
              <li>Pérdida de sensibilidad en algunas partes del cuerpo.</li>
              <li>Incontinencia urinaria (pérdida de control de la vejiga).</li>
              <li>Cambios de la visión.</li>
              <li>Mareo.</li>
              <li>Debilidad muscular.</li>
              <li>Dificultad para pasar los alimentos.</li>
              <li>Contracciones musculares involuntarias.</li>
              <li>Ardor.</li>
              <li>Dolores no explicables en extremidades.</li>
              <li>Daño renal (Nefropatía diabética).</li>
            </ul>
            <p>
              La elevación persistente de la glucosa en sangre también puede causar daño en la función del riñón. Esto puede
              traducirse en problemas como hipertensión arterial, y problemas para filtrar algunas sustancias potencialmente
              toxicas que pueden hallarse en tu sangre.
            </p>
            <p>
              Enfermedad del corazón y de los vasos sanguíneos.
              La diabetes puede aumentar el riesgo de que se presenten problemas en tu corazón y vasos, debido a la
              hiperglicemia. Esto incluye infartos, dolor torácico o angina y obstrucciones en las arterias que nutren de
              sangre tu corazón.
            </p>
            <ul>
              <li>Daño en los ojos (retinopatía).</li>
              <li>Aumento de enfermedades en piel y en la boca: la diabetes puede hacerte más susceptible a infecciones
                bacterianas y por hongos.</li>
                <li>Osteoporosis: disminución de la densidad ósea</li>
              </ul>
              <p>¿Cómo prevenir las complicaciones?</p>
              <ul>
            <li>No fumes, ni ingieras bebidas alcohólicas.</li>
            <li>Procura que los alimentos que consumes diariamente no te aporten más del 30% de lo que necesitas en
              grasas.</li>
              <li>Haz con frecuencia el ejercicio físico que más te gusta hacer.</li>
              <li>Pide a tu médico que te solicite un examen de colesterol al menos una 1 vez al año.</li>
              <li>En la cita médica solicita que te midan la tensión arterial.</li>
              <li>Después de los doce años de edad, visita al doctor especialista en ojos al menos una vez al año.</li>
              <li>Pide anualmente el test de micro albuminuria.</li>
            </ul>
            <p>Otras enfermedades relacionadas con la diabetes:</p>
            <li>Obesidad: </li>
            <p>Es importante que vigiles tu peso como estrategia importante para prevenir otras complicaciones y
              enfermedades. El índice de masa corporal o IMC es una de las maneras de saber que se tiene un peso saludable o
              no. Este se calcula dividiendo los kilogramos de tu peso por el cuadrado de la estatura en metros (IMC = peso
              [kg]/ estatura2 [m2]).</p>
              <p>Valores del índice de masa corporal o IMC:</p>
              <ul>
                <li>18,5 a 24,9 indica que tienes un peso saludable.</li>
                <li>25 a 29,9 indica que estás en sobrepeso.</li>
                <li>30 o más indica que estás en obesidad.</li>
              </ul>
              <p>Un índice de masa corporal mayor de 30, es decir obesidad, se puede asociar a la posibilidad de que se
                presenten enfermedades que afecten el corazón y los vasos sanguíneos. Sin embargo, si tu índice de masa
                corporal indica sobrepeso, es fundamental que pienses en hacer cambios en tu estilo de vida con respecto a tu
                alimentación y actividad física. Por ejemplo puedes ponerte la meta de reducir el 10% de tu peso corporal;
                esto, además de ayudarte a prevenir complicaciones mejora tu condición de salud y tu movilidad. Otra
                consideración importante es la medida del perímetro de tu abdomen.</p>
                <ul>
                  <li>Si eres mujer, tu medida ideal es menor a 89 cm.</li>
                  <li> Si eres hombre, tu medida ideal es menor a 102 cm.</li>
                </ul>
                <p>Cifras mayores se han asociado con mayor riesgo de tener enfermedades que pueden afectar tu calidad de vida y
                  longevidad, tales como enfermedades del corazón, aumento de la presión arterial, aumento de la resistencia a
                  la acción de la insulina y algunos tipos de cáncer.</p>
                  <li>Enfermedad del corazón:</li>
                  <p>Tanto el nivel de glucosa persistentemente elevado en sangre y la presencia aumentada de grasa
                    intra-abdominal aumentan la posibilidad de tener enfermedades en tu corazón y vasos sanguíneos. De hecho,
                    parece claro que la inflamación es un factor importante en la obesidad y la diabetes tipo 2, pues no sólo
                    contribuye a producir estos trastornos, sino que también establece un vínculo entre ellos. Sin embargo, el
                    conocimiento del mecanismo involucrado en el desarrollo, la inflamación y la inestabilidad de las placas de
                    grasa que se pueden formar dentro de las arterias ha conducido al concepto de vincular estas enfermedades
                    entre sí.</p>
                    <li>Enfermedad de la tiroides:</li>
                    <p>La hormona tiroidea es la responsable de regular muchas de las funciones en el cuerpo. Esta hormona se
                      produce en la glándula tiroides, localizada en tu cuello. Cuando la producción de esta hormona disminuye se
                      produce una condición llamada hipotiroidismo y cuando aumenta hipertiroidismo. En estas dos condiciones pueden
                      presentarse síntomas digestivos, del corazón, de la piel, variaciones en el estado de ánimo, en el peso entre
                      otros. Es importante que si te hicieron el diagnostico de diabetes tipo 1 también revisen como está la función
                      de la tiroides.</p>
                      <li>Colesterol y grasas altas en la sangre (dislipidemia):</li>
                      <p>Cuando hay un aumento de las grasas en tu sangre puede tratarse de una dislipidemia. En esta condición hay un
                        aumento de las grasas malas y una disminución de las grasas buenas en la sangre. Esto puede originar otro tipo
                        de enfermedades, especialmente en el corazón y en los vasos sanguíneos. Como parte importante del control de
                        la diabetes, es fundamental hacer pruebas, para conocer cuáles son los valores de estas grasas en tu sangre.
                        Los alimentos que consumas, así como la actividad física que realices juegan un papel decisivo para la
                        prevención de la dislipidemia y de enfermedades en el corazón y en los vasos sanguíneos.</p>
                        <p> </p>

                      </ol>
                    </div>


                  </font>
  </div>
  <div class="card-footer text-muted">
    <a routerLink="pagina-principal">
      <i class="fa fa-backward" aria-hidden="true"></i>
    </a>
  </div>
</div>


  <hr />

</div>

              </div>
