<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--SEGUNDA PARTE, PORQUE OCURRE-->
    <font face="Footlight MT Light,arial">
        <div style="text-align: center;"> 
        <h1>¿Por qué ocurre la diabetes?</h1>
        </div>
        </font>
        <hr/>
        <div style="text-align: justify;">
        <font face="Comic Sans MS,arial">
        <div class="espacio">
        <p>No se conoce la causa exacta de la diabetes, entre otras cosas porque hay muchos tipos 
            diferentes. De hecho, el momento de aparición de la enfermedad, las causas y los síntomas 
            que presentan los pacientes dependen del tipo de diabetes:</p>
        <ul>
            <li>Diabetes tipo 1</li>
            <p>Aparece generalmente en niños, aunque también puede iniciarse en adolescentes y adultos. 
                Suele presentarse de forma brusca y muchas veces independientemente de que existan 
                antecedentes familiares.
                Se produce una destrucción de las células que producen la insulina en el páncreas (las 
                células beta) por auto anticuerpos. Es decir, el organismo ataca a sus propias células como 
                si fueran extrañas (como ocurre en la enfermedad celíaca, y en otras enfermedades
                autoinmunes). El mecanismo inicial que induce la aparición de estos anticuerpos no está 
                totalmente identificado y es muy complejo.</p>
                <li>Diabetes tipo 2</li>
                <p>Surge en la edad adulta, su incidencia aumenta en personas de edad avanzada y es unas diez 
                    veces más frecuente que el tipo 1. En ella se produce una disminución de la acción de la 
                    insulina, de forma que, aunque haya mucha, no puede actuar. Se indica que se da "un 
                    componente mixto: por un lado, hay menor insulina en el páncreas y, por otro, esta insulina 
                    funciona peor en los tejidos (la denominada resistencia a la insulina)".
                    Su principal causa es la obesidad porque el tejido graso produce determinadas sustancias 
                    que disminuyen la sensibilidad de los receptores de la insulina.</p>
                <li>Diabetes gestional</li>
                <p>Durante el embarazo la insulina aumenta para incrementar las reservas de energía. A veces, 
                    este incremento no se produce, lo que puede originar una diabetes gestacional. Suele 
                    desaparecer tras el parto, pero estas mujeres tienen un alto riesgo de desarrollar diabetes 
                    tipo 2 a lo largo de su vida.</p>

               
        </ul>
      </div>
        </font>
        </div>
</body>
</html>

