
    <!--SEGUNDA PARTE, PORQUE OCURRE-->
    <div class="card" >
      <div class="card-header bg-warning bg-opacity-25" >
    <font face="Footlight MT Light,arial">
        <div style="text-align: center;"> 
        <h1>¿Por qué ocurre la diabetes?</h1>
        </div>
        </font>
        </div>
        <div class="card-body">
        <div style="text-align: justify;">
        <font face="Comic Sans MS,arial">
        <div class="espacio">
        <p>No se conoce la causa exacta de la diabetes, entre otras cosas porque hay muchos tipos 
            diferentes. De hecho, el momento de aparición de la enfermedad, las causas y los síntomas 
            que presentan los pacientes dependen del tipo de diabetes:</p>
        <ul>
            <li>Diabetes tipo 1</li>
            <p>Aparece generalmente en niños, aunque también puede iniciarse en adolescentes y adultos. 
                Suele presentarse de forma brusca y muchas veces independientemente de que existan 
                antecedentes familiares.
                Se produce una destrucción de las células que producen la insulina en el páncreas (las 
                células beta) por auto anticuerpos. Es decir, el organismo ataca a sus propias células como 
                si fueran extrañas (como ocurre en la enfermedad celíaca, y en otras enfermedades
                autoinmunes). El mecanismo inicial que induce la aparición de estos anticuerpos no está 
                totalmente identificado y es muy complejo.</p>
                <li>Diabetes tipo 2</li>
                <p>Surge en la edad adulta, su incidencia aumenta en personas de edad avanzada y es unas diez 
                    veces más frecuente que el tipo 1. En ella se produce una disminución de la acción de la 
                    insulina, de forma que, aunque haya mucha, no puede actuar. Se indica que se da "un 
                    componente mixto: por un lado, hay menor insulina en el páncreas y, por otro, esta insulina 
                    funciona peor en los tejidos (la denominada resistencia a la insulina)".
                    Su principal causa es la obesidad porque el tejido graso produce determinadas sustancias 
                    que disminuyen la sensibilidad de los receptores de la insulina.</p>
                <li>Diabetes gestional</li>
                <p>Durante el embarazo la insulina aumenta para incrementar las reservas de energía. A veces, 
                    este incremento no se produce, lo que puede originar una diabetes gestacional. Suele 
                    desaparecer tras el parto, pero estas mujeres tienen un alto riesgo de desarrollar diabetes 
                    tipo 2 a lo largo de su vida.</p>

                  <p>Si bien no se conoce exactamente lo que provoca la diabetes, estos casos son los que comunmente conocemos:</p>
                  <li>Diabetes por herencia </li>
                  <p>Si bien se conocen factores que aumentan el riesgo de desarrollar diabetes, 
                    el incremento mundial no puede explicarse fácilmente, ya que influye una 
                    multiplicidad de aspectos. Además del sobrepeso, obesidad y consumo elevado de bebidas azucaradas, 
                    existen otros elementos como el envejecimiento de la población, familiares diabéticos y aspectos relativos a la raza.</p>

                    <p>Los genes y la diabetes.
                     En el interior del núcleo de casi todas las células de nuestro cuerpo se encuentran 
                    23 pares de cromosomas (46 en total: 23 del padre y 23 de la madre), estructuras donde se encuentran 
                    los genes. De esta forma se heredan no sólo rasgos físicos de los padres, sino también enfermedades 
                    genéticas o la susceptibilidad para desarrollarlas.</p>
                    
                    <p>Las personas con un padre diabético tienen alrededor de 40% de posibilidad de desarrollar la 
                    enfermedad, mientras que el riesgo aumenta al 70% si ambos padres son diabéticos.
                     Gracias al impulso de la investigación genética y a los aportes del Proyecto Genoma Humano, hoy se 
                    conocen alrededor de 40 genes asociados a la diabetes tipo 2.</p>
                    
                    <li>Resistencia a la insulina</li>
                    <p>Ciertas hormonas producidas por la placenta NIH external link contribuyen a la resistencia a la insulina,
                       que se presenta en todas las mujeres hacia el final del embarazo. La mayoría de las mujeres embarazadas pueden producir suficiente 
                      insulina para superar la resistencia a la insulina, pero algunas no. La diabetes gestacional ocurre cuando el 
                      páncreas no produce suficiente insulina.</p>

                    <li>Mutaciones genéticas</li>
                    <p>La diabetes monogénica es causada por mutaciones o cambios en un solo gen. 
                      Estos cambios suelen transmitirse entre miembros de la familia, pero a veces 
                      la mutación genética tiene lugar espontáneamente. La mayoría de estas mutaciones genéticas causan 
                      diabetes porque hacen que el páncreas pierda su capacidad de producir insulina. Los tipos más comunes 
                      de diabetes monogénica son la diabetes neonatal y la diabetes del adulto de inicio 
                      juvenil (MODY, por sus siglas en inglés). La diabetes neonatal se presenta en los primeros
                       6 meses de vida. Los médicos suelen diagnosticar la diabetes del adulto de inicio juvenil durante 
                       la adolescencia o la adultez temprana, pero a veces la enfermedad no se diagnostica sino hasta más adelante en la vida.
                      La fibrosis quística NIH external link produce un exceso de mucosidad espesa que causa cicatrización en el 
                      páncreas. Estas cicatrices pueden impedir que el páncreas produzca suficiente insulina.</p>

                    <li>Medicinas</li>
                    <p>-Algunas veces, ciertas medicinas pueden dañar las células beta o alterar el funcionamiento de la insulina. Estos incluyen:</p>
                    <p>-Niacina, un tipo de vitamina B3</p>
                    <p>-Ciertos tipos de diuréticos</p>
                    <p>-Medicinas anticonvulsivos</p>
                    <p>Medicinas psiquiátricos</p>
                    <p>-Medicinas para tratar el virus de la inmunodeficiencia humana (VIH)</p>
                    <p>-Pentamidina, una medicina que se usa para tratar un tipo de neumonía
                      glucocorticoides, medicinas que se usan para tratar enfermedades inflamatorias 
                      como la artritis reumatoide, el asma, el lupus y la colitis ulcerativa</p>
                    <p>-Medicinas para tratar el virus de la inmunodeficiencia humana (VIH)
                      pentamidina, una medicina que se usa para tratar un tipo de neumonía
                      glucocorticoides, medicinas que se usan para tratar enfermedades inflamatorias 
                      como la artritis reumatoide, el asma, el lupus y la colitis ulcerativa</p>
                    <p>-Medicinas anti-rechazo, que se usan para hacer que el cuerpo no rechace un órgano trasplantado</p>

               
        </ul>
      </div>
   
        </font>
       </div>
       <div class="card-footer text-muted">
        <a routerLink="pagina-principal">
          <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
      </div>
        </div>
        </div>
  


