
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!--QUINTA PARTE, PREVENCION-->
      <font face="Footlight MT Light,arial">
        <div style="text-align: center;"> 
        <h1>Prevención</h1>
        </div>
      </font>
        <hr/>
        <div style="text-align: justify;">
      <font face="Comic Sans MS,arial">
        <div class="espacio">
        <p>En la actualidad no es posible prevenir la diabetes tipo 1, a pesar de los múltiples intentos 
            que se han hecho.</p>
        <p>La diabetes tipo 2, que es la más frecuente, sí se puede prevenir. Los cambios en el estilo de 
            vida pueden ayudar a prevenir la aparición de la diabetes tipo 2, la forma más común de la 
            enfermedad. La prevención es especialmente importante si actualmente corres un mayor 
            riesgo de diabetes tipo 2 debido al exceso de peso o la obesidad, niveles altos de colesterol 
            o antecedentes familiares de diabetes. Puesto que la causa más importante es la obesidad, 
            todas las acciones que tengan que ver con la prevención de la obesidad van a tener un 
            resultado positivo.</p>
        <p>Una vez que se ha diagnosticado la enfermedad, hay que prevenir la aparición de 
            complicaciones micro y macro vasculares. El seguimiento del tratamiento prescrito, así 
            como de las recomendaciones dietéticas y de actividad física es fundamental para evitar 
            complicaciones como las cardiovasculares, las renales, la retinopatía diabética o el pie 
            diabético.</p>
        <p>Además, las personas con diabetes también deben estar atentas a la aparición de 
            hipoglucemia (bajo nivel de glucosa en sangre). Actualmente se considera que una persona 
            tiene una hipoglucemia cuando su nivel de azúcar en sangre es menor de 70 mg/dl.</p>
        <p>Si te diagnosticaron prediabetes (un nivel elevado de glucosa en la sangre que no llega al 
            umbral de un diagnóstico de diabetes), los cambios en el estilo de vida pueden prevenir o 
            retrasar la aparición de la enfermedad.</p>
        <p>Hacer algunos cambios en tu estilo de vida ahora puede ayudarte a evitar las 
            complicaciones graves de la diabetes en el futuro, tales como daños a los nervios, los 
            riñones y el corazón. Nunca es demasiado tarde para empezar.</p>

        <ol>
            <b><li>Bajar el exceso de peso.</li></b>
            <p>Bajar de peso reduce el riesgo de diabetes. Las personas que participaron en un estudio 
                grande redujeron el riesgo de desarrollar diabetes en casi un 60% después de bajar 
                aproximadamente el 7% de su peso corporal con cambios en la actividad física y en la 
                dieta.</p>
            <b><li>Haz más actividad física.</li></b>
            <p>La actividad física regular tiene muchos beneficios. El ejercicio puede ayudarte a:</p>
            <ul>
                <li>Bajar de peso</li>
                <li>Bajar tu nivel de glucosa sanguínea</li>
                <li>Aumentar tu sensibilidad a la insulina, lo que ayuda a mantener tu glucosa 
                    sanguínea dentro de un rango normal.g</li>
            </ul> <br>
            <b><li>Consume alimentos vegetales saludables.</li></b>
            <p>Los vegetales proporcionan vitaminas, minerales y carbohidratos a tu alimentación. Los 
                carbohidratos incluyen azúcares y almidones (las fuentes de energía para tu cuerpo) y fibra. 
                La fibra dietética, también conocida como fibra alimentaria o alimenticia, incluye las partes 
                de los alimentos vegetales que el cuerpo no puede digerir ni absorber.</p>
            <p>Los alimentos con un alto contenido de fibra promueven la pérdida de peso y reducen el 
                riesgo de sufrir diabetes.</p>
            <p>Evita los alimentos que sean "carbohidratos malos", es decir aquellos que tengan un alto 
                contenido de azúcar con poca fibra o nutrientes: pan blanco y productos de pastelería, pasta 
                de harina blanca, jugos de frutas y alimentos procesados con azúcar o jarabe de maíz alto 
                en fructosa</p>
            <b><li>Consume grasas saludables</li></b>
            <p>Los alimentos grasos tienen un contenido elevado de calorías y deben consumirse con 
                moderación. Para bajar de peso y ayudar a controlarlo, tu dieta debería incluir una variedad 
                de alimentos con grasas insaturadas, que algunas veces se llaman "grasas buenas".</p>
            <p>Las grasas insaturadas, tanto monoinsaturadas, como poliinsaturadas, favorecen los niveles de colesterol saludable y la buena salud vascular y del corazón.</p>
            <p>Las grasas saturadas, las "grasas malas", están en los lácteos y carnes. Estas grasas deben 
                ser una parte reducida en tu alimentación. Puedes limitar el consumo de grasas saturadas si 
                te alimentas con productos lácteos con bajo contenido de grasas y carne de pollo y cerdo 
                magra</p>
            <b><li>Omite las dietas relámpago y toma decisiones más saludables</li></b>
            <p>Muchas dietas relámpago, como las dietas del índice glucémico, las dietas cetogénicas o las 
                dietas paleolíticas, pueden ayudarte a perder peso. Sin embargo, hay muy poca 
                investigación acerca de los beneficios a largo plazo de estas dietas o su beneficio en la 
                prevención de la diabetes.</p>
            <p>Tu objetivo de dieta debería ser perder peso y luego mantener un peso más saludable de ahí 
                en adelante. Por lo tanto, las decisiones de una alimentación saludable deben incluir una 
                estrategia que puedas mantener como un hábito para toda la vida.</p>
            <p>Dividir tu plato es una estrategia simple para ayudarte a tomar decisiones alimenticias 
                óptimas y comer tamaños de porciones adecuadas. Estas tres divisiones en tu plato 
                promuevan una alimentación saludable:</p>
            <ul>
                <li>Una mitad: frutas y vegetales sin almidón</li>
                <li>Un cuarto: granos integrales</li>
                <li>Un cuarto: alimentos ricos en proteína, como legumbres, pescado o carnes magras</li>
            </ul>
        </ol>
        </div>
      </font>
        </div>
    <font>
      <div class="d-flex justify-content-around">
        <div class="card" style="width: 18rem;">
            <div align="center"><img src="../../../assets/img/con_diabetes.jpg" class="card-img-top" alt="..." width="250" height="250"></div>
            <div class="card-body">
              <p class="card-text">Ejemplo de una persona con azúcar elevada (diabetes)</p>
            </div>
        </div>
          <div class="card" style="width: 18rem;">
            <div align="center"><img src="../../../assets/img/sin_diabetes.jpg" class="card-img-top" alt="..." width="250" height="250"></div>
            <div class="card-body">
              <p class="card-text">Ejemplo de una persona con azúcar normal </p>
            </div>
          </div></div>
          <p>
          <p>
          <div class="d-flex justify-content-center">
          <div class="card" style="width: 32rem;">
            <div align="center"><img src="../../../assets/img/tabla.jpg" class="card-img-top" alt="..." width="500" height="250"></div>
            <div class="card-body">
              <p class="card-text">Esta tabla muestra los niveles de azúcar, normal, prediabetes y con diabetes</p>
            </div>
          </div></div>
    </font>
        
</body>
</html>