<figure class="text-center">
  <blockquote class="blockquote">
    <div class="wrapper">
      <p>
      <h2 class="text-white">Diabetes</h2>
    </div>
  </blockquote>
  <div class="frase">
    <figcaption class="blockquote-footer">Hagamos Consciencia sobre <cite title="Source Title" class="text-white">Tu
        Salud</cite>

    </figcaption>
  </div>
</figure>
<div class="fondo">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg " style="background-color: #85C1E9;">

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <font face="Footlight MT Light,arial">
              <a class="nav-link active" aria-current="page" routerLink="pagina-QE">¿Qué es?</a>
            </font>
          </li>
          <li class="nav-item">
            <font face="Footlight MT Light,arial">
              <a class="nav-link active" aria-current="page" routerLink="pagina-causas">Causas</a>
            </font>
          </li>
          <li class="nav-item">
            <font face="Footlight MT Light,arial">
              <a class="nav-link active" aria-current="page" routerLink="pagina-consecuencias">Consecuencias</a>
            </font>
          </li>
          <li class="nav-item">
            <font face="Footlight MT Light,arial">
              <a class="nav-link active" aria-current="page" routerLink="pagina-prevencion">Medidas de Prevención</a>
            </font>
          </li>
          <li class="nav-item">
            <font face="Footlight MT Light,arial">
              <a class="nav-link active" aria-current="page" routerLink="grafical">Grafica de Mortalidad</a>
            </font>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="container pt-4">
  <router-outlet></router-outlet>
</div>
