<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--QUE ES LA DIABETES PRIMERA PARTE-->
    <font face="Footlight MT Light,arial">

    <div style="text-align: center;">
    <h1>¿Qué es la diabetes?</h1>
    </div>
    </font>
    <hr/>
    <div style="text-align: justify;">
    <font face="Comic Sans MS,arial"><div class="espacio">
    <p> El cuerpo descompone la mayor parte de los alimentos que come en azúcar (también
        llamada glucosa) y los libera en el torrente sanguíneo. El páncreas produce una hormona
        llamada insulina, que actúa como una llave que permite que el azúcar en la sangre entre a
        las células del cuerpo para que estas la usen como energía esta concentración de glucosa en
        sangre es debido a que el páncreas no produce, o el organismo no utiliza, la insulina de
        forma adecuada. A esto se le llama diabetes.</p>
    <p>
        Con diabetes, el cuerpo no produce una cantidad suficiente de insulina o no puede usar
        adecuadamente la insulina que produce. Cuando no hay suficiente insulina o las células
        dejan de responder a la insulina, queda demasiada azúcar en el torrente sanguíneo y, con el
        tiempo, esto puede causar problemas de salud graves, como enfermedad del corazón,
        pérdida de la visión y enfermedad de los riñones.</p>
    <p>Todavía no existe una cura para la diabetes, pero perder peso, comer alimentos saludables y
        estar activo realmente puede ayudar.</p>
    <p>La insulina es una hormona imprescindible para la vida. Todas las personas necesitamos
        insulina durante las 24 horas del día de forma continua y variable, es decir, no se necesita la
        misma cantidad de insulina a todas las horas. Cuando una persona come, necesita más
        insulina y cuando realiza actividad física necesita menos.</p>
    <p>Nuestro cuerpo necesita energía para funcionar, al igual que un coche necesita combustible.
        Esta energía la podemos obtener a partir de los alimentos que ingerimos. Generalmente la
        mitad de lo que ingerimos contiene hidratos de carbono (también llamados azúcares o
        glúcidos), los cuales, una vez pasan al estómago e intestino, se transforman mediante la
        digestión en glucosa, que es el azúcar más sencillo. Cuando los hidratos de carbono se
        encuentran en forma de glucosa, pasan a la sangre y es en este momento cuando actúa la
        insulina.</p>
    </div>
    </font>
    </div>



</body>
</html>
